html,body,#app
{
	height:100%;
	margin:0;
}

#app
{
	font-size:14px;
	padding:10px;
	box-sizing:border-box;
}

.tl-radio-tree .el-checkbox
{
	display:none;
}

.tl-radio-tree-dropdown
{
	display:inline-block;
	width:200px;
}

.tl-radio-tree-dropdown>.el-select
{
	display:block;
}

.tl-check-tree-dropdown>.el-select
{
	display:block;
}

.tl-check-tree-dropdown>.el-select>.el-input.el-input--suffix>.el-input__inner
{
	min-height:38px;
	height:auto;
}

.tl-edit-table
{
	margin-bottom:10px;
}

.tl-edit-table > table > tbody > tr > td:nth-child(odd), .tl-edit-table > table > tr > td:nth-child(odd)
{
	text-align: right;
}

.tl-tabs.el-tabs
{
	position:relative;
	padding-top:40px;
	height:100%;
	box-sizing:border-box;
}

.tl-tabs > .el-tabs__header
{
	position:absolute;
	width:100%;
	top:0;
}

.tl-tabs > .el-tabs__content
{
	height:100%;
	box-sizing:border-box;
}

.el-popover.tl-op-bar-popover
{
	margin-top:-30px
}

#app [class=el-input]
{
	width:180px;
}