.tl-radio-tree .el-checkbox
{
	display:none;
}

.tl-radio-tree-dropdown
{
	display:inline-block;
	width:200px;
}

.tl-radio-tree-dropdown>.el-select
{
	display:block;
}

.tl-check-tree-dropdown>.el-select
{
	display:block;
}

.tl-check-tree-dropdown>.el-select>.el-input.el-input--suffix>.el-input__inner
{
	min-height:38px;
	height:auto;
}

.tl-edit-table > table > tbody > tr > td:nth-child(odd), .tl-edit-table > table > tr > td:nth-child(odd)
{
	text-align: right;
}