<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>常用表单控件</title>
	<link href="plugins/vue/element/index.css" rel="stylesheet" />
	<link href="css/components.css" rel="stylesheet" />
	<script src="plugins/jQuery/jquery.min.js"></script>
	<script src="plugins/vue/vue.min.js"></script>
	<script src="plugins/vue/element/index.js"></script>
	<script src="js/components.js"></script>
	<script>
		window.onload = function ()
		{
			new Vue({
				el: '#app',
				data: {
					tempValues: { checkboxValues:[]},
					towns: [{ id: 1, name: "大良" }, { id: 2, name: "容桂" }],
					editForm: { text: null, date: null, height: 0, remark: null }
				},
				methods:
				{
					save: function ()
					{
						showLoading();
						window.setTimeout(function ()
						{
							closeLoading();
							alertMsg("输入值：" + JSON.stringify(this.editForm));
						}.bind(this), 3000);
					}
				}
			})
		}
	</script>
</head>
<body>
	<div id="app">
		<p>常用控件</p>
		<table is="tl-edit-table">
			<tr>
				<td style="width:20%">alertMsg(msg,fun)提示</td>
				<td><el-button @click="alertMsg('这是一个alert',function(){window.alert('处理……')})">测试</el-button></td>
			</tr>
			<tr>
				<td>confirmMsg(msg,okFun,cancelFun)提示</td>
				<td><el-button @click="confirmMsg('这是一个confirm？',function(){window.alert('点击确定')},function(){window.alert('点击取消')})">测试</el-button></td>
			</tr>
			<tr>
				<td>文本框</td>
				<td><el-input></el-input></td>
			</tr>
			<tr>
				<td>多行文本框</td>
				<td><el-input type="textarea"></el-input></td>
			</tr>
			<tr>
				<td>日期和时间选择</td>
				<td>
					<tl-date-picker></tl-date-picker>
					<tl-month-picker></tl-month-picker>
					<tl-date-time-picker></tl-date-time-picker>
					<tl-year-picker></tl-year-picker>
				</td>
			</tr>
			<tr>
				<td>下拉列表</td>
				<td>
					原生：
					<el-select placeholder="" v-model="tempValues.selectValue">
						<el-option v-for="item in towns" :key="item.id" :label="item.name" :value="item.id"></el-option>
					</el-select>
					封装通过数据字典加载：
					<tl-select :data="towns" text-property="name" value-property="id"></tl-select>
				</td>
			</tr>
			<tr>
				<td>数字输入：</td>
				<td>
					<tl-input-number v-model="tempValues.numberInputValue" controls-position="right" />
				</td>
			</tr>
			<tr>
				<td>复选框</td>
				<td>
					<p>
						单个：
						<el-checkbox>备选项</el-checkbox>
					</p>
					<p>
						多个：
						<el-checkbox-group v-model="tempValues.checkboxValues">
							<el-checkbox label="复选框 A"></el-checkbox>
							<el-checkbox label="复选框 B"></el-checkbox>
							<el-checkbox label="复选框 C"></el-checkbox>
							<el-checkbox label="禁用" disabled></el-checkbox>
						</el-checkbox-group>
					</p>
				</td>
			</tr>
			<tr>
				<td>单选框</td>
				<td>
					<el-radio-group v-model="tempValues.radioValues">
						<el-radio :label="3">备选项</el-radio>
						<el-radio :label="6">备选项</el-radio>
						<el-radio :label="9">备选项</el-radio>
					</el-radio-group>
				</td>
			</tr>
			<tr>
				<td>上传：</td>
				<td>
					<el-upload action="https://jsonplaceholder.typicode.com/posts/">
						<el-button size="small" type="primary">点击上传</el-button>
					</el-upload>
				</td>
			</tr>
		</table>
		<p>列表</p>
		<tl-search-bar>
			<tl-search-item>姓名：<el-input></el-input></tl-search-item>
			<tl-search-item>日期：<tl-date-picker></tl-date-picker> 至 <tl-date-picker></tl-date-picker></tl-search-item>
		</tl-search-bar>
		<tl-tool-bar>
			<tl-tool-button @click="window.alert('省略artDialog代码')">新增</tl-tool-button>
			<tl-tool-button>导入</tl-tool-button>
			<tl-tool-button>导出</tl-tool-button>
		</tl-tool-bar>
		<table is="tl-list-table">
			<thead>
				<tr>
					<th>日期</th>
					<th>姓名</th>
					<th>地址</th>
					<th>操作</th>
				</tr>
			</thead>
			<tr>
				<td>
					2016-05-03
				</td>
				<td>
					王小虎
				</td>
				<td>
					上海市普陀区金沙江路 1518 弄
				</td>
				<td>
					<tl-op-bar>
						<el-button type="primary">编辑</el-button>
						<el-button type="danger">删除</el-button>
					</tl-op-bar>
				</td>
			</tr>
			<tr>
				<td>
					2016-05-02
				</td>
				<td>
					王小虎
				</td>
				<td>
					上海市普陀区金沙江路 1518 弄
				</td>
				<td>
					<tl-op-bar>
						<el-button type="primary">编辑</el-button>
						<el-button type="danger">删除</el-button>
					</tl-op-bar>
				</td>
			</tr>
			<tr>
				<td>
					2016-05-04
				</td>
				<td>
					王小虎
				</td>
				<td>
					上海市普陀区金沙江路 1518 弄
				</td>
				<td>
					<tl-op-bar>
						<el-button type="primary">编辑</el-button>
						<el-button type="danger">删除</el-button>
					</tl-op-bar>
				</td>
			</tr>
			<tr>
				<td>
					2016-05-01
				</td>
				<td>
					王小虎
				</td>
				<td>
					上海市普陀区金沙江路 1518 弄
				</td>
				<td>
					<tl-op-bar>
						<el-button type="primary">编辑</el-button>
						<el-button type="danger">删除</el-button>
					</tl-op-bar>
				</td>
			</tr>
		</table>
		<tl-pagination :total="400"></tl-pagination>
		<p>编辑表格，奇数列右对齐，平均分配每列宽度</p>
		<table is="tl-edit-table">
			<tr>
				<td>姓名</td>
				<td><el-input v-model="editForm.text" /></td>
				<td>日期</td>
				<td><tl-date-picker v-model="editForm.date" /></td>
			</tr>
			<tr>
				<td>身高</td>
				<td><tl-input-number v-model="editForm.height" /></td>
				<td>备注</td>
				<td><el-input v-model="editForm.remark" /></td>
			</tr>
		</table>
		<div style="text-align:center">
			<el-button type="primary" @click="save">保存显示遮罩层3秒</el-button>
		</div>
	</div>
</body>
</html>