<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>常用表单控件</title>
	<link href="plugins/vue/element/index.css" rel="stylesheet" />
	<link href="css/components.css" rel="stylesheet" />
	<script src="plugins/jQuery/jquery.min.js"></script>
	<script src="plugins/vue/vue.min.js"></script>
	<script src="plugins/vue/element/index.js"></script>
	<script src="js/components.js"></script>
	<script>
		window.onload = function ()
		{
			new Vue(
			{
				el: '#app',
				data:
				{
					treeValue: [11],
					treeData:
					[
						{
							id: 1,
							label: 'A',
							children:
							[
								{ id: 11,label: 'AA' },
								{ id: 12,label: 'AB' }
							]
						},
						{
							id: 2,
							label: 'B',
							children:
							[
								{ id:21,label: 'BA' },
								{ id:22,label: 'BB' }
							]
						}
					],
					popoverVisible: false
				}
			})
		}
	</script>
</head>
<body>
	<div id="app">
		<tl-search-bar>
			<tl-search-item>测试1：<el-input placeholder="请输入内容"></el-input></tl-search-item>
			<tl-search-item>测试2：<el-input placeholder="请输入内容"></el-input></tl-search-item>
		</tl-search-bar>
		<tl-tool-bar>
			<tl-tool-button @click="window.alert()">导入</tl-tool-button>
			<tl-tool-button>导出</tl-tool-button>
		</tl-tool-bar>
		<tl-op-bar>
			<el-button type="primary">编辑</el-button>
			<el-button type="danger">删除</el-button>
		</tl-op-bar>
		<!--<tl-tabs>
		<tl-tab-pane label="Google" name="GG">Google</tl-tab-pane>
		<tl-tab-pane label="Bing" name="BB">Bing</tl-tab-pane>
	</tl-tabs>-->
		<!--<tl-tab-frame>
		<tl-link-tab-pane label="Google" url="http://g.cn"></tl-link-tab-pane>
		<tl-link-tab-pane label="Bing" url="http://bing.com"></tl-link-tab-pane>
		<tl-link-tab-pane label="Blank" url="about:blank"></tl-link-tab-pane>
	</tl-tab-frame>-->
		<!--<tl-menu-frame>
		<el-submenu index="国内">
			<template slot="title">
				国内
			</template>
			<tl-link-menu-item url="http://baidu.com">百度</tl-link-menu-item>
			<tl-link-menu-item url="http://so.com">360</tl-link-menu-item>
		</el-submenu>
		<tl-link-menu-item url="http://g.cn">Google</tl-link-menu-item>
		<tl-link-menu-item url="http://bing.com">Bing</tl-link-menu-item>
	</tl-menu-frame>-->
		<!--<div>{{treeValue}}</div>
	<tl-radio-tree-dropdown v-model="treeValue" :data="treeData" text-property="label" value-property="id"></tl-radio-tree-dropdown>-->
		<!--<tl-check-tree-dropdown v-model="treeValue" :data="treeData" text-property="label" value-property="id"></tl-check-tree-dropdown>-->
		<!--<tl-radio-tree v-model="treeValue" text-property="name" value-property="id" children-property="villages" :can-check-parent="false" data-source-url="data/towns.json" />-->
		<!--<tl-radio-tree v-model="treeValue" :data="treeData" text-property="label" value-property="id" :can-check-parent="false" />
	<tl-check-tree v-model="treeValue" :data="treeData" text-property="label" value-property="id" />-->
		<!--<table is="tl-list-table">
		<thead>
			<tr>
				<th class="cell">
					2016-05-03
				</th>
				<th>
					王小虎
				</th>
				<th>
					上海市普陀区金沙江路 1518 弄
				</th>
			</tr>
		</thead>
		<tr>
			<td>
				2016-05-03
			</td>
			<td>
				王小虎
			</td>
			<td>
				上海市普陀区金沙江路 1518 弄
			</td>
		</tr>
		<tr>
			<td>
				2016-05-02
			</td>
			<td>
				王小虎
			</td>
			<td>
				上海市普陀区金沙江路 1518 弄
			</td>
		</tr>
		<tr>
			<td>
				2016-05-04
			</td>
			<td>
				王小虎
			</td>
			<td>
				上海市普陀区金沙江路 1518 弄
			</td>
		</tr>
		<tr>
			<td>
				2016-05-01
			</td>
			<td>
				王小虎
			</td>
			<td>
				上海市普陀区金沙江路 1518 弄
			</td>
		</tr>
	</table>
	<table is="tl-edit-table" equal-width>
		<thead>
			<tr>
				<th class="cell">
					2016-05-03
				</th>
				<th>
					王小虎
				</th>
				<th>
					上海市普陀区金沙江路 1518 弄
				</th>
			</tr>
		</thead>
		<tr>
			<td>
				2016-05-03
			</td>
			<td>
				王小虎
			</td>
			<td>
				上海市普陀区金沙江路 1518 弄
			</td>
		</tr>
		<tr>
			<td>
				2016-05-02
			</td>
			<td>
				王小虎
			</td>
			<td>
				上海市普陀区金沙江路 1518 弄
			</td>
		</tr>
		<tr>
			<td>
				2016-05-04
			</td>
			<td>
				王小虎
			</td>
			<td>
				上海市普陀区金沙江路 1518 弄
			</td>
		</tr>
		<tr>
			<td>
				2016-05-01
			</td>
			<td>
				王小虎
			</td>
			<td>
				上海市普陀区金沙江路 1518 弄
			</td>
		</tr>
	</table>-->
	</div>
</body>
</html>